@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    background-color: #000000;
}

.game-title{
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
}

.game-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.game-canvas{
    width: 500px;
    height: 500px;
    background-color: #FFFFFF;
    display: block;
}